.task-table {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 40px;
}
table {
    width: 80%;
    border-collapse: collapse;
    border: none;    
}
li::marker {
    padding-left: 10px;
}
th {
    background-color: #cbd3d3;
    font-size: 17px;
    padding: 7px;
}
tr {
    text-align: center;
    /* padding-left: 20px; */
    background-color: #f5f6f6;
}
#delete-btn, #edit-btn {
    height: 25px;
    margin: 7px;
}
#delete-btn, #edit-btn:hover {
    cursor: pointer;
}
tbody {
    background-color: #f7fafa;
}

